// src/components/1-atoms/Avatar/avatar.component.scss
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;  // Increased from 40px
  height: 35px; // Increased from 40px
  border-radius: 50%;
  background-color: #beb2f5;
  color: #330072;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;

  
}

// In avatar.component.scss

.avatar-wrapper {
  // ... your existing styles

  // Add styles for the new clickable state
  &.is-clickable {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.3); // Example hover effect
    }
  }
}