// src/components/1-atoms/Avatar/avatar.component.scss
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;  // Increased from 40px
  height: 35px; // Increased from 40px
  border-radius: 50%;
  background-color: #beb2f5;
  color: #330072;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

